# Virtual environment
# venv/

# Python bytecode files
*.pyc
*.pyo
*.pyd

# Folder for Google Cloud credentials
service.json

# Jenkins home directory (for persistent storage)
jenkins_home/

# Dockerfile artifacts
docker/

# IDEs
.vscode/
.idea/
