# Virtual environment
venv/

# Python bytecode files
*.pyc
*.pyo
*.pyd

# Folder for Google Cloud credentials
api-project-456117-7a3048a0cec2.json

# Jenkins home directory (for persistent storage)
jenkins_home/

# Dockerfile artifacts
docker/

# IDEs
.vscode/
.idea/
